.a-page-title__wrapper {
    border-bottom: 1px solid $a-border;
    margin-bottom: 1rem;
    background: #fcfcfc;
}
.a-page-title__title {
    color: $a-action-dark;
    font-size: 1rem;
    margin: 0;
    padding: 1rem 0;
}